[user]
	name = Joe Wegner
	email = joe@wegnerdesign.com

[diff "nodiff"]
  command = /usr/bin/true
[init]
	defaultBrach = main
	templatedir = /Users/joseph.wegner/.git-templates
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
